version: "3"

services:
  db:
    image: postgres
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: otpdb
    volumes:
      - ./db/db.sql:/docker-entrypoint-initdb.d/db.sql

  backend:
    build: ./backend
    ports:
      - "4000:4000"
    depends_on:
      - db
    environment:
      - DB_HOST=db
      - DB_USER=postgres
      - DB_PASS=postgres
      - DB_NAME=otpdb

  frontend:
    build: ./frontend
    ports:
      - "80:80"
