body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}

/* BACKGROUND */
.bg{
  height:100vh;
  background:
   linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
   url("/images/farm.jpg");
  background-size:cover;
  background-position:center;
  position:relative;
  overflow:hidden;

}
.bg.dark {
  filter: brightness(60%);
}

/* OVERLAY */
.overlay {
  height: 100vh;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes fall {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 1000px;
  }
}

/* TOP BAR */
.top-bar {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 3;
}

.top-bar button {
  margin-left: 10px;
  padding: 8px 12px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background: #2e7d32;
  color: #fff;
}

/* CARD */
.login-card {
  width: 900px;
  height: 500px;
  background: #fff;
  display: flex;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
  z-index: 2;
}

/* LEFT IMAGE */
.left {
  width: 50%;
}

.left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* RIGHT FORM */
.right {
  width: 50%;
  padding: 40px;
  text-align: center;
}

.right h2 {
  color: #2e7d32;
}

.right p {
  color: #555;
}

/* INPUT */
input {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
}

/* BUTTON */
button {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  border: none;
  border-radius: 6px;
  background: linear-gradient(to right, #43a047, #66bb6a);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: linear-gradient(to right, #2e7d32, #4caf50);
}

/* PULSE */
.pulse {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #66bb6a;
  }
  70% {
    box-shadow: 0 0 0 15px transparent;
  }
}

/* LINKS */
.link {
  margin-top: 15px;
  color: #2e7d32;
  cursor: pointer;
}

/* TIMER */
.timer {
  margin-top: 10px;
  color: #888;
}

/* ERROR */
.error {
  margin-top: 15px;
  color: red;
}

/* MODAL */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.modal-box {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 350px;
  text-align: center;
}

.modal-box h3 {
  color: #2e7d32;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .login-card {
    width: 95%;
    flex-direction: column;
    height: auto;
  }

  .left {
    width: 100%;
    height: 200px;
  }

  .right {
    width: 100%;
  }
}
